# MariaDB
MARIADB_ROOT_PASSWORD=change_me
MARIADB_DATABASE=maternity_care_system
MARIADB_USER=maternity_care_system
MARIADB_PASSWORD=change_me

# Redis
REDIS_PASSWORD=change_me

# MongoDB
MONGO_INITDB_ROOT_USERNAME=change_me
MONGO_INITDB_ROOT_PASSWORD=change_me
MONGO_INITDB_DATABASE=maternity_care_system
