[mysqld]
max_connections = 1000
wait_timeout = 60
interactive_timeout = 60
connect_timeout = 10

innodb_buffer_pool_size = 8G
innodb_buffer_pool_instances = 8

innodb_log_file_size = 512M

thread_cache_size = 64
table_open_cache = 4000
